@import "tailwindcss";

@theme {
  --color-on-secondary: var(--on-secondary);
  --color-surface: var(--surface);
  --color-surface-container-high: var(--surface-container-high);
  --color-surface-container-lowest: var(--surface-container-lowest);
  --color-error: var(--error);
  --color-on-tertiary-container: var(--on-tertiary-container);
  --color-on-primary-container: var(--on-primary-container);
  --color-tertiary-fixed: var(--tertiary-fixed);
  --color-surface-container-highest: var(--surface-container-highest);
  --color-tertiary-container: var(--tertiary-container);
  --color-surface-variant: var(--surface-variant);
  --color-surface-container: var(--surface-container);
  --color-primary: var(--primary);
  --color-inverse-surface: var(--inverse-surface);
  --color-inverse-primary: var(--inverse-primary);
  --color-surface-container-low: var(--surface-container-low);
  --color-on-tertiary-fixed-variant: var(--on-tertiary-fixed-variant);
  --color-primary-fixed: var(--primary-fixed);
  --color-error-container: var(--error-container);
  --color-on-secondary-container: var(--on-secondary-container);
  --color-on-tertiary-fixed: var(--on-tertiary-fixed);
  --color-secondary: var(--secondary);
  --color-surface-bright: var(--surface-bright);
  --color-on-secondary-fixed-variant: var(--on-secondary-fixed-variant);
  --color-surface-tint: var(--surface-tint);
  --color-background: var(--background);
  --color-secondary-container: var(--secondary-container);
  --color-on-error: var(--on-error);
  --color-surface-dim: var(--surface-dim);
  --color-secondary-fixed-dim: var(--secondary-fixed-dim);
  --color-on-secondary-fixed: var(--on-secondary-fixed);
  --color-on-primary-fixed: var(--on-primary-fixed);
  --color-on-background: var(--on-background);
  --color-tertiary: var(--tertiary);
  --color-primary-fixed-dim: var(--primary-fixed-dim);
  --color-on-primary-fixed-variant: var(--on-primary-fixed-variant);
  --color-on-error-container: var(--on-error-container);
  --color-outline: var(--outline);
  --color-primary-container: var(--primary-container);
  --color-on-tertiary: var(--on-tertiary);
  --color-on-surface-variant: var(--on-surface-variant);
  --color-tertiary-fixed-dim: var(--tertiary-fixed-dim);
  --color-outline-variant: var(--outline-variant);
  --color-on-primary: var(--on-primary);
  --color-inverse-on-surface: var(--inverse-on-surface);
  --color-secondary-fixed: var(--secondary-fixed);
  --color-on-surface: var(--on-surface);

  --font-headline: "Manrope";
  --font-body: "Inter";
  --font-label: "Inter";

  --radius-default: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;
}

@layer base {
  :root {
    --on-secondary: #ffffff;
    --surface: #f8fafc;
    --surface-container-high: #e2e8f0;
    --surface-container-lowest: #ffffff;
    --error: #ba1a1a;
    --on-tertiary-container: #001d35;
    --on-primary-container: #001f2a;
    --tertiary-fixed: #d1e4ff;
    --surface-container-highest: #cbd5e1;
    --tertiary-container: #d1e4ff;
    --surface-variant: #e2e8f0;
    --surface-container: #f1f5f9;
    --primary: #006492;
    --inverse-surface: #1e293b;
    --inverse-primary: #8bcdff;
    --surface-container-low: #f1f5f9;
    --on-tertiary-fixed-variant: #00497d;
    --primary-fixed: #c6e7ff;
    --error-container: #ffdad6;
    --on-secondary-container: #1d1d00;
    --on-tertiary-fixed: #001d35;
    --secondary: #fabd00;
    --surface-bright: #ffffff;
    --on-secondary-fixed-variant: #4e4e00;
    --surface-tint: #006492;
    --background: #f8fafc;
    --secondary-container: #feee8d;
    --on-error: #ffffff;
    --surface-dim: #f1f5f9;
    --secondary-fixed-dim: #fabd00;
    --on-secondary-fixed: #1d1d00;
    --on-primary-fixed: #001f2a;
    --on-background: #0f172a;
    --tertiary: #006492;
    --primary-fixed-dim: #8bcdff;
    --on-primary-fixed-variant: #004c6f;
    --on-error-container: #410002;
    --outline: #70777c;
    --primary-container: #c6e7ff;
    --on-tertiary: #ffffff;
    --on-surface-variant: #40484c;
    --tertiary-fixed-dim: #8bcdff;
    --outline-variant: #c0c7cd;
    --on-primary: #ffffff;
    --inverse-on-surface: #f8fafc;
    --secondary-fixed: #feee8d;
    --on-surface: #0f172a;
  }

  .dark {
    --on-secondary: #3f2e00;
    --surface: #041329;
    --surface-container-high: #1c2a41;
    --surface-container-lowest: #010e24;
    --error: #ffb4ab;
    --on-tertiary-container: #667ed1;
    --on-primary-container: #74829d;
    --tertiary-fixed: #dce1ff;
    --surface-container-highest: #27354c;
    --tertiary-container: #001449;
    --surface-variant: #27354c;
    --surface-container: #112036;
    --primary: #b9c7e4;
    --inverse-surface: #d6e3ff;
    --inverse-primary: #515f78;
    --surface-container-low: #0d1c32;
    --on-tertiary-fixed-variant: #264191;
    --primary-fixed: #d6e3ff;
    --error-container: #93000a;
    --on-secondary-container: #6a4e00;
    --on-tertiary-fixed: #00164e;
    --secondary: #fabd00;
    --surface-bright: #2c3951;
    --on-secondary-fixed-variant: #5b4300;
    --surface-tint: #b9c7e4;
    --background: #041329;
    --secondary-container: #fabd00;
    --on-error: #690005;
    --surface-dim: #041329;
    --secondary-fixed-dim: #fabd00;
    --on-secondary-fixed: #261a00;
    --on-primary-fixed: #0d1c32;
    --on-background: #d6e3ff;
    --tertiary: #b6c4ff;
    --primary-fixed-dim: #b9c7e4;
    --on-primary-fixed-variant: #39475f;
    --on-error-container: #ffdad6;
    --outline: #8f9097;
    --primary-container: #0a192f;
    --on-tertiary: #05297a;
    --on-surface-variant: #c5c6cd;
    --tertiary-fixed-dim: #b6c4ff;
    --outline-variant: #44474d;
    --on-primary: #233148;
    --inverse-on-surface: #233148;
    --secondary-fixed: #ffdf9e;
    --on-surface: #ffffff;
  }

  html,
  body {
    height: 100%;
    @apply text-on-surface font-['Inter'];
  }

  body {
    margin: 0;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  display: inline-block;
  line-height: 1;
}

.active-icon {
  font-variation-settings: 'FILL' 1, 'wght' 400;
}

.tonal-layering-no-borders {
  border: none !important;
}