@import "tailwindcss";
/* ===== Fix fondo negro ===== */
:root{
  --app-bg: #F6F8FB;
  --app-text: #0f172a;
}

html, body {
  height: 100%;
}

body{
  background: var(--app-bg) !important;
  margin: 0;
  color: var(--app-text);
  @apply bg-slate-100 text-slate-900;
}

/* Next app root */
#__next, #__next > div,
body > div {
  min-height: 100%;
  background: transparent;
}
